<%= @list.name %>
<%= link_to "edit", @list.edit_link if @list.user = session[:user_id] %>
<%= render 'gifts/form', :list => @list, :gift => @gift, :action => @action if @list.user = session[:user_id] %>

<% @list.gifts.each do |gift| %>
  <div class="gift">
    <%= image_tag gift.image %>
    <%= link_to gift.name, gift.url %>
    <%= gift.price %>
    <% if @list.user = session[:user_id] %>
      <div class="controls">
        <%= link_to "edit", "#", :class => "toggle-edit-controls", :"data-id" => gift.id %>
        <div class="edit-gift-container hidden" data-id=gift.id>
          <%= render 'gifts/form', :gift => gift, :list => @list, :action => "update" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>